<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List | A Django Full Stack Framework Walkthrough</title>
</head>
<body>
    <h1>Add ToDo item:</h1>
    <!-- 
        Action to send info to pur '/add' URL 
        A POST request, sends or posts information to the server
        Add a special template tag to the form as a security measure.
    -->
    <form action="add" method="POST">
        <!-- 
            This token is a randomly generated unique value which will be added to the form 
            as a hidden input field when the forms submitted, and works to guarantee that 
            the data we're posting is actually coming from our todo_list() app and not from 
            another website.
        -->
        {% csrf_token %}
        <div>
            <p>
                <label for="id_name">Name: </label>
                <input type="text" id="id_name" name="item_name" />
            </p>
        </div>
        <div>
            <p>
                <label for="id_done">Done: </label>
                <input type="checkbox" id="id_done" name="item_done" />
            </p>
        </div>
        <div>
            <p>
                <button type="submit">Add Item</button>
            </p>
        </div>
    </form>
    <a href="../">List of items ToDo</a>
</body>
</html>